html {
    overflow-y: scroll;
}

body {
    margin: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.site {
    display:flex;
    flex-direction: column;
    width: 1000px;
}

.block {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	height: 248px;
	background-color: black;
    width: 100%;
}

nav {
    max-width: 1000px;
	background-color: black;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

a {  
	font-family: serif; 
	font-size: 25px;
	text-decoration: none;
	color: white;

}

header {
    height: 200px;
}

.piccol {
    height: 200px;
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 170px;
    margin-right: 170px;
}

.picrow {
    height: 180px;
    width: 200px;
    transition: transform 0.5s
}

.picrow:hover{
    transform: scale(1.2);
}

.top {
    margin-top: 20px;
}