html{

}

body{
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0px;
	margin-top: 8px;
}

header{
	height: 200px;
}

nav{
	max-width: 1000px;
	background-color: black;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ett, .två, .tre, .fyra{
	font-family: serif; 
	font-size: 25px;
	margin-top: 0px;
	padding-top: 0px;
	text-decoration: none;
	color: white;
}

.donera{
	font-family: serif;
	font-size: 50px;
	text-decoration: none;
	color: black;
	padding: 5px;

}

article{
	align-items: center;
	flex-direction: row;
	max-width: 1000px;

}

.block {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	height: 248px;
	background-color: black;
	width: 100%;
}