html{
	overflow-y: scroll;

}

body{
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0px;
	margin-top: 8px;
}

header{
	height: 200px;
}

nav{
	max-width: 1000px;
	background-color: black;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ett, .två, .tre, .fyra{
	font-family: serif; 
	font-size: 25px;
	margin-top: 0px;
	padding-top: 0px;
	text-decoration: none;
	color: white;
}

.donera{
	background-color: #555555;
	justify-content: center;
	margin-top: 200px;
	font-family: serif;
	font-size: 70px;
	text-decoration: none;
	color: white;
	padding: 5px;
	border-radius: 12px;
	border-width: 2px;
	border-style: solid;
	border-color: #555555;
	margin


}

.donera:hover{
	background-color: white;
	
	color: #555555;
}

article{
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 1000px;

}

.block {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	height: 248px;
	background-color: black;
	width: 100%;
}