html {
	overflow-y: scroll;

}

body {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0px;
}

header {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

nav {
	width: 100%;
	background-color: black;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
	font-family: serif; 
	font-size: 25px;
	margin-top: 0px;
	padding-top: 0px;
	text-decoration: none;
	color: white;
}

.donera{
	background-color: #555555;
	justify-content: center;
	margin-top: 200px;
	font-family: serif;
	font-size: 100px;
	text-decoration: none;
	color: white;
	padding: 5px;
	border-radius: 12px;
	border-width: 2px;
	border-style: solid;
	border-color: #555555;
	margin: 0px;
}

.donera:hover{
	background-color: white;
	color: #555555;
}

article{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 25px;
}

.paradon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 20px;
	max-width: 725px;
}

.topdon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}

.donpic {
	height: 350px;
	width: 350px;
	margin-top: 50px;
	flex-shrink: 0;
}

p {
	margin: 0px;
	font-size: 19px;
}

.infotitle {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

h1 {
    font-family: Georgia, serif;
}

.piccol {
    height: 200px;
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picrow {
    height: 180px;
    width: 200px;
    transition: transform 0.5s
}

.picrow:hover{
    transform: scale(1.2);
}

.top {
    margin-top: 20px;
}

.album {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100%;
}
.center {
	display: flex;
	flex-direction: column;


}

.startp {
	max-width: 800px;
	
}

.donatep {
	margin-left: 10px;
}
