html{
	overflow-y: scroll;
}

body{
	margin: 0px;
	margin-top: 8px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

header{
	height: 200px;
}


nav{
	max-width: 1000px;
	background-color: black;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
	font-family: serif; 
	font-size: 25px;
	margin-top: 0px;
	padding-top: 0px;
	text-decoration: none;
	color: white;
}

div{
	display: flex;
	flex-direction: column;
	width: 1000px;
	}

article{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	max-width: 1000px;
	padding-top: 25px;
}

p {
	max-width: 600px;
	margin: 0px;
	margin-bottom: 50px;
}

.block {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	height: 248px;
	background-color: black;
}